params {
  results_base = 'results'
  data_base    = 'data/real'
  topn_expr   = 20
  topn_mut    = 20
  topn_cnv    = 20
  alpha       = 1.0
  standardize = true
  predef       = null       // e.g. "BRCA1,BRCA2,KEAP1"
  predef_file  = null       // e.g. "/path/to/predef.txt"	
}

profiles {
  local {
    process.executor = 'local'
    process.cpus = 2
    process.memory = '8 GB'
    process.time = '4h'
    params {
      projects = 'TCGA-BRCA'
      genes    = 'TP53'
      n_top = 20
      nfolds = 10
      alpha = 1.0
      standardize = true
      plot_script = null
    }
  }
  slurm {
    process.executor = 'slurm'
    // process.queue = 'short'
    process.cpus = 4
    process.memory = '16 GB'
    process.time = '12h'
    singularity.enabled = false
    params {
      projects = 'TCGA-BRCA'
      genes    = 'TP53'
      n_top = 20
      nfolds = 10
      alpha = 1.0
      standardize = true
      plot_script = null
    }
  }
}

// process.container = params.container ?: null
